---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>{{ page.title }}</h1>
      <div class="my-5">
        written by: {% for author in page.authors %}<b
          >{% include author_name.html %}</b
        >{% if forloop.last %}{% else %}, {% endif %}{% endfor %} &mdash; {% if
        page.date %}{{ page.date | date: "%B %-d, %Y" }}{% endif %}
      </div>

      <section class="Object__metadata">
        {% include object_metadata.html %}
      </section>
      <section>{{ page.content }}</section>
    </div>
    <div class="col-lg-4">
      <aside style="position: sticky; top: 0px">
        {% if page.authors %}
        <section>
          <h3>Authors</h3>
          <ul>
            <li>
              {% for author in page.authors %} {% include author.html %} {%
              endfor %}
            </li>
          </ul>
        </section>
        {% endif %} {% if page.editors %}
        <section>
          <h3>Editors</h3>
          <ul>
            <li>
              {% for editor in page.editors %} {% include author.html %} {%
              endfor %}
            </li>
          </ul>
        </section>
        {% endif %}
      </aside>
    </div>
  </div>
</div>
